* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #acacac;
    min-height: 100vh;
    padding: 34px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #e9ca9c;
    width: 700px;
    padding: 25px;
    border-radius: 15px;
    overflow-y: hidden;
}

.container > .content-title {
    margin-bottom: 12px;
    height: 100%;
}

h1 {
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 26px;
}

label {
    display: none;
}

input {
    font-size: 12px;
    color: #000000;
    background-color: #fef4e5;
    border: none;
    padding: 8px;
    width: 85%;
}

.add {
    color: white;
    font-size: 12px;
    font-weight: 700;
    background-color: #e39928;
    padding: 8px;
    border: none;
    border-radius: 10px;
}

.container > .anotacoes {
    background-color: #ffe6c0;
    width: 100%;
    min-height: 520px;
    padding: 16px;
}

.anotacoes > ul {
    list-style: none;
}

ul > li {
    margin-bottom: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
}

ul > li:nth-last-child(1) {
    margin-bottom: 0;
}

li > .title-check {
    width: 100%;
    display: flex;
}

.title-check >  #check {
    width: 16px;
    margin-right: 8px;
}

.title-check > h2 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-bottom: 0.5px solid rgba(105, 105, 105, 0.476);
    width: 100%;
}

li > .utilities {
    width: 70px;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}